@model Modelcasepro.ViewModel.Activity
@inject Domaincasepro.Queries.ActivityQueryHandler handler
@inject Domaincasepro.Queries.ActivitydetailsQueryHandler detailshandler
@inject Domaincasepro.Queries.ProductQueryHandler productHandler
@inject Domaincasepro.Queries.ResourceQueryHandler resourceHandler
@inject Domaincasepro.Queries.InstructQueryHandler _handler
@inject Domaincasepro.Queries.ActivitySummaryQueryhandler _Summaryhandler


@{
    var Activitydetails = detailshandler.GetActivitydetails(Model.ActivityId);
    var type = Activitydetails.Type;


}


<section class="content">
   
    <div class="box">
        <div id="sitesuccessmessage" class="donepopup" style="display:none">
            <p>@type successfully saved</p>
        </div>
        <div id="sitesuccessupdatemessage" class="donepopup" style="display:none">
            <p>@type successfully Updated</p>
        </div>
        <div id="siteerrormessage" class="errorpopup" style="display:none">
            <p>Error while saving data </p>
        </div>
        <div id="jobcardsuccessmessage" class="donepopup" style="display:none">
            <p>Activity Added Successfully</p>
        </div>
        <div id="jobcardupdatemessage" class="donepopup" style="display:none">
            <p>Activity Update Successfully</p>
        </div>
        <div id="jobcarderrormessage" class="errorpopup" style="display:none">
            <p>Error while saving data</p>
        </div>
        <div id="customersuccessmessage" class="donepopup" style="display:none">
            <p>Customer Added Successfully</p>
        </div>
        <div id="customerupdatemessage" class="donepopup" style="display:none">
            <p>Customer Updated Successfully</p>
        </div>
        <div id="customererrormessage" class="errorpopup" style="display:none">
            <p>Error while saving data</p>
        </div>
       
        <div id="Productsuccessmessage" class="donepopup" style="display:none">
            <p>Product Data Saved Successfully</p>
        </div>
        <div id="Productupdatemessage" class="donepopup" style="display:none">
            <p>Product Data Update Successfully</p>
        </div>
        <div id="Producterrormessage" class="errorpopup" style="display:none">
            <p>Error while saving data</p>
        </div>
        <div id="resoursesuccessmessage" class="donepopup" style="display:none">
            <p>Resourse Data Saved Successfully</p>
        </div>
        <div id="resourseupdatemessage" class="donepopup" style="display:none">
            <p>Resourse Data Update Successfully</p>
        </div>
        <div id="resourseerrormessage" class="errorpopup" style="display:none">
            <p>Error while saving data</p>
        </div>
        <div id="signoffsuccessmessage" class="donepopup" style="display:none">
            <p>Signoff Saved Successfully</p>
        </div>
        
        <div id="signofferrormessage" class="errorpopup" style="display:none">
            <p>Error while saving data</p>
        </div>
        <div class="box-header">
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <div class="btn-group" style="display:none">
                    <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-wrench"></i>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <!----- Tabs--------->
            <div class="tab_container">
                <input class="tabinpt-header" id="tab1" type="radio" name="tabs" checked>
                <label class="tbs-lbl" for="tab1"><i class="fa fa-briefcase"></i><span>Job Card</span></label>

                <input class="tabinpt-header" id="tab2" type="radio" name="tabs">
                <label class="tbs-lbl" for="tab2"><i class="fa fa-book"></i><span>Product Details</span></label>

                <input class="tabinpt-header" id="tab3" type="radio" name="tabs">
                <label class="tbs-lbl" for="tab3"><i class="fa fa-users"></i><span>Resources</span></label>

                <input class="tabinpt-header" id="tab4" type="radio" name="tabs">
                <label class="tbs-lbl" for="tab4"><i class="fa fa-list-alt"></i><span>Activity Details</span></label>

                <input class="tabinpt-header" id="tab5" type="radio" name="tabs">
                <label class="tbs-lbl" for="tab5"><i class="fa fa-user-md"></i><span>Instruct Opeations</span></label>
                <input class="tabinpt-header" id="tab6" type="radio" name="tabs">
                <label class="tbs-lbl" style="display:none;" for="tab6"><i class="fa fa-user-md"></i><span>Activity Summary</span></label>

                <section id="content1" class="tab-content">
                    @{
                        var jobcard = handler.GetJobCard(Model.ActivityId);
                        @Html.Partial("~/Views/Activity/JobCard.cshtml", jobcard)
                    }
                </section>
                <section id="content2" class="tab-content">
                    @{
                        var productdetails = productHandler.GetProductDetails(Model.ActivityId);
                        @Html.Partial("~/Views/Activity/ProductDetails.cshtml",productdetails)
                    }

                </section>
                <section id="content3" class="tab-content">
                    @{
                        var resoursedetails = resourceHandler.GetResourseDetails(Model.ActivityId);
                        @Html.Partial("~/Views/Activity/ResourseDetails.cshtml", resoursedetails)
                    }
                </section>
                <section id="content4" class="tab-content">
                    @{
                        
                            @Html.Partial("~/Views/Activity/ActivityDetails.cshtml", Activitydetails)
                      }
               </section>
                    
                <!------./End section---->
                <section id="content5" class="tab-content">
                    @{
                        var InstructOperation = _handler.GetInstructDetails(Model.ActivityId);
                        @Html.Partial("~/Views/Activity/InstructOperation.cshtml",InstructOperation)
                    }
                </section>

                <section id="content6" class="tab-content">
                    @{
                        if (Model.ActivityId !=0)
                        {
                            var Summarydetails = _Summaryhandler.ExecuteGetList(Model.ActivityId);
                            @Html.Partial("~/Views/Activity/ActivitySummary.cshtml", Summarydetails)
                        }
                        
                    }
                </section>
            </div>
        </div>



        <!-- /.content -->
    </div>

</section>