@model Modelcasepro.ViewModel.InstructOperation
@inject Domaincasepro.Queries.InstructQueryHandler _handler

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@if (TempData["SuccessMessage"] != null)
{
    <script>
        alert('@TempData["SuccessMessage"]');
    </script>
}

<form id="sendEmailForm" action="/Activity/SaveInstruction" method="post">
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="form-group clearfix">
                <label for="HCJob">Opration Type:</label>
                @Html.HiddenFor(model => model.ActivityId, new { @class = "form-control", id="id"})
                @Html.DropDownListFor(model => model.SelectedActivity, new SelectList(new[]
                {
                new SelectListItem { Text = "Select Opration Type", Value = "" },
                new SelectListItem { Text = "Notification to designated individuals", Value = "Notification to designated individuals" },
                new SelectListItem { Text = "Equipment/Vehicle check", Value = "Equipment/Vehicle check" },
                new SelectListItem { Text = "Risk assessment", Value = "Risk assessment" },
                new SelectListItem { Text = "Team brief", Value = "Team brief" }
                }, "Value", "Text"), new { @class = "form-control",name = "activityType" })


            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="form-group clearfix">
                <label for="InstructorName">Instructor Name:</label>


                @Html.DropDownListFor(model => model.Name, Model.InstructorNames.Select(x => new SelectListItem{Text=x.Name, Value= x.Name}).ToList(), "Select Name", new { @class = "form-control", id = "InstructorNamedropdown", name = "InstructorName" })

            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="form-group clearfix">
                <label for="tbxActivityDate">Activity Date:</label>
                @Html.TextBoxFor(model => model.Date, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date",name = "activityDate" })

            </div>
        </div>



    </div>
    <div class="row">
        <div class="col-sm-20 col-md-10">
            <div class="form-group clearfix">

                <div class="form-group clearfix">
                    <label for="inputNotes">Notes:</label>
                    @Html.TextAreaFor(model => model.Note, new { @class = "form-control", id = "inputNotes", cols = "10", rows = "5", name = "notes" })
                </div>



            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-18 col-md-9"></div>
        <div class="col-sm-4 col-md-2">
            <button type="submit" class="btn btn-success">Send Email</button>
        </div>
    </div>
</form>

<div class="table-container create-actvttable">
    <table id="instructOption" class="cmnacvt-table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true"
           data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true"
           data-show-toggle="true" data-resizable="true">
        <thead>
            <tr>
                <th data-field="Id">Id</th>
                <th data-field="Email">Email</th>
                <th data-field="Activity Date">Activity Date</th>
                <th data-field="Submitted">Submitted?</th>
                @* <th data-field="View">View</th> *@
            </tr>
        </thead>
        <tbody>
            @{
                var instructs = _handler.GetInstructoperationsdetailsToDisplay(Model.ActivityId);
            }
            @if (instructs.Count > 0)
            {
                foreach (var item in instructs)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@(item.Date.HasValue ? item.Date.Value.ToString("yyyy-MM-dd") : "No date")</td>
                        <td>@item.HasSubmitted</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
</div>