@model List<Modelcasepro.ViewModel.ProductDetails>

<div class="table-responsive clearfix test">
    <table class="table table-bordered" id="myTable1">
        <thead>
            <tr>
                <th style="width:200px;">Shift</th>
                <th style="width:150px;">Date</th>
                <th>Summary of Works</th>
                <th style="width:70px;"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count != 0)
            {
                bool isFirstRow = true;
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DropDownList("Shift", new List<SelectListItem>
                    {
                    new SelectListItem { Text = "Shift 1", Value = "Shift 1", Selected = (item.Shift == "Shift 1") },
                    new SelectListItem { Text = "Shift 2", Value = "Shift 2", Selected = (item.Shift == "Shift 2") },
                    new SelectListItem { Text = "Shift 3", Value = "Shift 3", Selected = (item.Shift == "Shift 3") },
                    new SelectListItem { Text = "Shift 4", Value = "Shift 4", Selected = (item.Shift == "Shift 4") },
                    new SelectListItem { Text = "Shift 5", Value = "Shift 5", Selected = (item.Shift == "Shift 5") },
                    new SelectListItem { Text = "Shift 6", Value = "Shift 6", Selected = (item.Shift == "Shift 6") },
                    new SelectListItem { Text = "Shift 7", Value = "Shift 7", Selected = (item.Shift == "Shift 7") },
                    new SelectListItem { Text = "Shift 8", Value = "Shift 8", Selected = (item.Shift == "Shift 8") }
                    }, new { @class = "form-control", id = "Shift" })
                            <span id="ShiftError" class="text-danger"></span>
                        </td>
                        <td>
                            @Html.TextBox("Date", item.Date?.ToString("yyyy-MM-dd"), new { @class = "form-control", @type = "date", id = "Date", style = "width:150px" })
                            <span id="DateError" class="text-danger"></span>
                        </td>
                        <td>
                            @Html.TextBox("SummaryOfWorks", item.SummaryOfWorks, new { @class = "form-control", type = "text", id = "Summaryforproduct" })
                            <span id="SummaryError" class="text-danger"></span>
                            @Html.HiddenFor(modelItem => item.Id, new { @class = "form-control", id = "pid" })
                            @Html.HiddenFor(modelItem => item.ActivityId, new { @class = "form-control", id = "activityid" })
                        </td>
                        <td>
                            @if (isFirstRow)
                            {
                                <input type="button" value="Add New Row" onclick="addRow1(this)" class="btn btn-primary btn-primary" />
                                isFirstRow = false;
                            }
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>
                        @Html.DropDownList("Shift", new List<SelectListItem>
                    {
                    new SelectListItem { Text = "Shift 1", Value = "Shift 1" },
                    new SelectListItem { Text = "Shift 2", Value = "Shift 2" },
                    new SelectListItem { Text = "Shift 3", Value = "Shift 3" },
                    new SelectListItem { Text = "Shift 4", Value = "Shift 4" },
                    new SelectListItem { Text = "Shift 5", Value = "Shift 5" },
                    new SelectListItem { Text = "Shift 6", Value = "Shift 6" },
                    new SelectListItem { Text = "Shift 7", Value = "Shift 7" },
                    new SelectListItem { Text = "Shift 8", Value = "Shift 8" }
                    }, new { @class = "form-control", id = "Shift" })
                        <span id="ShiftError" class="text-danger"></span>
                    </td>
                    <td>
                        @Html.TextBox("Date", null, new { @class = "form-control", type = "date", id = "Dateforproduct", style = "width:150px" })
                        <span id="DateError" class="text-danger"></span>
                    </td>
                    <td>
                        @Html.TextBox("SummaryOfWorks", null, new { @class = "form-control", type = "text", id = "Summaryforproduct" })
                        <span id="SummaryError" class="text-danger"></span>
                        <input type="hidden" id="pid" value="0" />
                        @Html.Hidden("Id", null, new { id = "activityid" })
                    </td>
                    <td>
                        <input type="button" value="Add New Row" onclick="addRow1(this)" class="btn btn-primary btn-primary" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/asset/js/custom.js"></script>
