@model List<Modelcasepro.ViewModel.ResourseDetails>

<div class="clearfix table-responsive">
    <table class="table table-bordered" id="myTable">
        <thead>
            <tr>
                <th style="width:250px;">Resource Type</th>

                <th style="width:200px;">Shift</th>
                <th style="width:200px;">Day/Night</th>
                <th style="width:200px;">Name</th>
                <th>Comments</th>
                <th style="width:70px;"></th>

            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count != 0)
            {
                bool isFirstRow = true;
                foreach (var item in Model)
                {
                    <tr>
                        <td>

                            @Html.DropDownList("ResourceType", new List<SelectListItem>
                    {
                    
                    new SelectListItem { Text = "Supervisor", Value = "Supervisor", Selected = (item.ResourceType == "Supervisor") },
                    new SelectListItem { Text = "Operative", Value = "Operative" , Selected = (item.ResourceType == "Operative") },
                    new SelectListItem { Text = "Labour Man", Value = "Labour Man", Selected = (item.ResourceType == "Labour Man")  },
                    new SelectListItem { Text = "HGV", Value = "HGV", Selected = (item.ResourceType == "HGV")  },
                    new SelectListItem { Text = "HGV+Crane", Value = "HGV+Crane" , Selected = (item.ResourceType == "HGV+Crane") },
                    new SelectListItem { Text = "Trailer", Value = "Trailer"  , Selected = (item.ResourceType == "Trailer")  },
                    new SelectListItem { Text = "Loader", Value = "Loader" , Selected = (item.ResourceType == "Loader") },
                    new SelectListItem { Text = "Work Van", Value = "Work Van" , Selected = (item.ResourceType == "Work Van") }

                    },
                    new { @class = "form-control", id = "type" }
                    )
                        </td>

                        <td>
                            @Html.DropDownList("Shift", new List<SelectListItem>
                    {
                    
                    new SelectListItem { Text = "Shift 1", Value = "Shift 1", Selected = (item.Shift == "Shift 1") },
                    new SelectListItem { Text = "Shift 2", Value = "Shift 2", Selected = (item.Shift == "Shift 2") },
                    new SelectListItem { Text = "Shift 3", Value = "Shift 3", Selected = (item.Shift == "Shift 3") },
                    new SelectListItem { Text = "Shift 4", Value = "Shift 4", Selected = (item.Shift == "Shift 4") },
                    new SelectListItem { Text = "Shift 5", Value = "Shift 5", Selected = (item.Shift == "Shift 5") },
                    new SelectListItem { Text = "Shift 6", Value = "Shift 6", Selected = (item.Shift == "Shift 6") },
                    new SelectListItem { Text = "Shift 7", Value = "Shift 7", Selected = (item.Shift == "Shift 7") },
                    new SelectListItem { Text = "Shift 8", Value = "Shift 8", Selected = (item.Shift == "Shift 8") }
                    }, new { @class = "form-control", id = "Shift" })
                        </td>


                        <td>
                            @Html.DropDownList("DayNight", new List<SelectListItem>
                    {
                    
                    new SelectListItem { Text = "Day", Value = "Day", Selected = (item.DayNight == "Day") }, 
                    new SelectListItem { Text = "Night", Value = "Night", Selected = (item.DayNight == "Night") },
                    },
                    new { @class = "form-control", id = "daynight" }
                    )
                        </td>
                        <td>
                            @Html.TextBox("Name", item.Name, new { @class = "form-control", type = "text", id = "name" })

                        </td>
                        <td>
                            @Html.TextBox("Comments", item.Comments, new { @class = "form-control", type = "text", id = "comment" })
                            @Html.HiddenFor(modelItem => item.Id, new { id = "rid" })

                        </td>
                        <td>
                            @if (isFirstRow)
                            {
                                <input type="button" value="Add New Row" onclick="addRow(this)" class="btn btn-primary btn-primary" />
                                isFirstRow = false;
                            }
                            </td>


                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>

                        @Html.DropDownList("ResourceType",new List<SelectListItem>
                    {
                    new SelectListItem { Text = "Select an Resource Type", Value = "" },
                    new SelectListItem { Text = "Supervisor", Value = "Supervisor" }, // Default option
                    new SelectListItem { Text = "Operative", Value = "Operative" },
                    new SelectListItem { Text = "Labour Man", Value = "Labour Man" },
                    new SelectListItem { Text = "HGV", Value = "HGV" },
                    new SelectListItem { Text = "HGV+Crane", Value = "HGV+Crane" },
                    new SelectListItem { Text = "Trailer", Value = "Trailer" },
                    new SelectListItem { Text = "Loader", Value = "Loader" },
                    new SelectListItem { Text = "Work Van", Value = "Work Van" }

                    },
                    new { @class = "form-control", id = "type" }
                    )
                    </td>

                    <td>
                        @Html.DropDownList("Shift", new List<SelectListItem>
                    {
                    new SelectListItem { Text = "Select an Shift type", Value = "" },
                    new SelectListItem { Text = "Shift 1", Value = "Shift 1" },
                    new SelectListItem { Text = "Shift 2", Value = "Shift 2" },
                    new SelectListItem { Text = "Shift 3", Value = "Shift 3" },
                    new SelectListItem { Text = "Shift 4", Value = "Shift 4" },
                    new SelectListItem { Text = "Shift 5", Value = "Shift 5" },
                    new SelectListItem { Text = "Shift 6", Value = "Shift 6" },
                    new SelectListItem { Text = "Shift 7", Value = "Shift 7" },
                    new SelectListItem { Text = "Shift 8", Value = "Shift 8" }
                    }, new { @class = "form-control", id = "Shift" })
                    </td>
                    <td>
                        @Html.DropDownList("DayNight", new List<SelectListItem>
                    {
                    new SelectListItem { Text = "Select shift", Value = "" },
                    new SelectListItem { Text = "Day", Value = "Day" }, // Default option
                    new SelectListItem { Text = "Night", Value = "Night" },
                    },
                    new { @class = "form-control", id = "daynight" }
                    )
                    </td>
                    <td>
                        @Html.TextBox("Name", null, new { @class = "form-control", type = "text", id = "name" })
                    </td>
                    <td>
                        @Html.TextBox("Comments",null, new { @class = "form-control", type = "text", id = "comment" })



                        <input type="hidden" id="rid" value="0" />
                        @Html.Hidden("Id", null, new { id = "activityid" })
                    </td>
                    <td><input type="button" value="Add New Row" onclick="addRow(this)" class="btn btn-primary btn-primary" /> </td>


                </tr>
            }


        </tbody>
    </table>
</div>

<script src="~/asset/js/custom.js"></script>